.shadow-3{
  box-shadow: 3px 3px 3px 3px rgb(164, 162, 162);
}
.p-2{
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.star{
  color: gold;
  font-size: 2rem;
}
body {
    background-color: rgb(61, 59, 62);
}

header {
    text-align: center;
    font-size: 25px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container a {
    font-size: 25px;
}

.right a {
    color: green;
}

.left a {
    color: red
}

.main-container {
    display: flex;
    min-height: 70vh;
}

aside {
    width: 30%;
    background-color: orange;
}

main {
    width: 70%;
    background-color: brown;
}
footer{
   text-align: center;
   font-size: 25px;
}

.card {
  padding: 2em;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
